<!-- 主体内容 -->

<!-- 引入breadcrumb -->
{{> common/bread_crumb}}

<!-- 列表内容 -->
<div class="row">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="content">
		<div class="row">
			<div class="col-md-6">
				子业务公告区
			</div>
			<div class="col-md-6">
				子业务功能区
			</div>
		</div>
		<!-- table -->
		<table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="pointer" id="select-all">全选</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>操作区</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="1"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="2"></td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td>@fat</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
      </tbody>
    </table>
    <!-- 批量操作区域 -->
    <div class="row">
    	<div class="col-md-6"><button class="btn btn-default" id="done-all">批量删除</button></div>
    </div>
    <!-- 引入分页 -->
		{{> common/pager}}
	</div>
</div>
<!-- 引入自定义javascript文件,第三方的插件等-->
<script type="text/javascript" src="javascripts/{{scriptPath}}.js"></script>