<!-- 主体内容 -->

<!-- 引入breadcrumb -->
{{> common/bread_crumb}}

<!-- 搜索框 -->
{{> common/search_form}}
<div id="reflux"></div>
<!-- 列表内容 -->
<div class="row">
	<div class="col-md-12" id="content">
		<!-- table -->
		<table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="pointer" id="select-all">全选</th>
          <th>录入时间</th>
          <th>合同号</th>
          <th>合同类型</th>
          <th>楼盘</th>
          <th>房源编号</th>
          <th>调入时间</th>
          <th>业主姓名</th>
          <th>业主电话</th>
          <th>责任盘</th>
          <th>面积</th>
          <th>调入店</th>
          <th>调入人</th>
          <th>调入价(万)</th>
          <th>是否压证</th>
          <th>证件</th>
          <th>下钱金额(元)</th>
          <th>当前状态</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="1"></td>
          <td class="text-right">2016-02-26 16:16</td>
          <td class="text-center">3900363</td>
          <td class="text-right">售单</td>
          <td class="text-left">东方明珠</td>
          <td class="text-right">CDCH91525440</td>
          <td class="text-center">2016-02-26</td>
          <td class="text-center">周燕，尹志勇</td>
          <td class="text-right">13551821058</td>
          <td class="text-center">非责</td>
          <td class="text-right">123.05</td>
          <td class="text-center">府青区/欣然</td>
          <td class="text-right">银雪.李贤银</td>
          <td class="text-center">125.0</td>
          <td class="text-center">是</td>
          <td class="text-center">共有权证</td>
          <td class="text-center">1000.0</td>
          <td class="text-center">库存</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="2"></td>
         <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
         <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
         <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
         <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox" class="js-checkbox" data-id="3"></td>
          <td>Mark</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-right">Otto</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center">@mdo</td>
          <td class="text-center"><button class="btn btn-info btn-xs">增加</button></td>
        </tr>
      </tbody>
    </table>
    <!-- 批量操作区域 -->
    <div class="row">
    	<div class="col-md-6"><button class="btn btn-default" id="done-all">批量删除</button></div>
    </div>
    <!-- 引入分页 -->
	</div>
</div>