<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.dev.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!--[if lt IE 9]>
    <script src="/javascripts/common/html5shiv.min.js"></script>
    <script src="/javascripts/common/respond.min.js"></script>
		<script>
			window.addEventListener = window.addEventListener || function (e, f) { window.attachEvent('on' + e, f); };
		</script>
		<script src="/javascripts/common/es5-shim.min.js"></script>
		<script src="/javascripts/common/es5-sham.min.js"></script>
  <![endif]-->
	<script src="/javascripts/common/jquery-1.11.2.min.js"></script>
  <script src="/javascripts/common/react.js"></script>
  <script src="/javascripts/common/react-dom.js"></script>
  <script src="/javascripts/plugin/DatePicker/WDatePicker.js"></script>
  <script src="/javascripts/plugin/layer/layer.js"></script>
</head>
<body>