<!-- 我是左侧菜单项 -->
<div class="col-sm-3 col-md-2 sidebar">
	<div class="panel panel-default">
	  <div class="panel-heading">签到系统相关</div>
	  <ul class="panel-body">
			  <li class="panel-item row">
			  	<a class="col-md-10 self-link" href="#">我的签到</a>
			  	<div class="col-md-2"><i class="glyphicon glyphicon-menu-right"></i></div>
			  </li>
			  <li class="panel-item row">
			  	<a class="col-md-10 self-link" href="#">我的签到</a>
			  	<div class="col-md-2"><i class="glyphicon glyphicon-menu-right"></i></div>
			  </li>
			  <li class="panel-item row">
			  	<a class="col-md-10 self-link" href="#">我的签到</a>
			  	<div class="col-md-2"><i class="glyphicon glyphicon-menu-right"></i></div>
			  </li>
			  <li class="panel-item row">
			  	<a class="col-md-10 self-link" href="#">我的签到</a>
			  	<div class="col-md-2"><i class="glyphicon glyphicon-menu-right"></i></div>
			  </li>
			  <li class="panel-item row">
			  	<a class="col-md-10 self-link" href="#">我的签到</a>
			  	<div class="col-md-2"><i class="glyphicon glyphicon-menu-right"></i></div>
			  </li>
	  </ul>
	</div>
	<div class="menu-bar menubar-open" id="menu-bar">
		收起菜单<i class="glyphicon glyphicon-menu-up"></i>
		<!-- 展开菜单<i class="glyphicon glyphicon-menu-down"></i> -->
	</div>
</div>