<nav class="navbar navbar-fixed-top navbar-self" id="nav">
  <div class="container-fluid">
    <div class="row">
    	<div class="col-md-8">
	    	<img src="/images/logo.png" alt="" class="navbar-left img-logo">
	    	<ul class="nav navbar-nav navbar-left nav-self">
	        <li><a href="#" class="nav-active">调出数据</a></li>
	        <li><a href="#">调入数据</a></li>
	        <li><a href="#">调入证件类型</a></li>
	        <li><a href="#">调入证件名称</a></li>
	        <li><a href="#">责任盘类型</a></li>
	      </ul>
	    </div>
	    <div class="col-md-4">
	    	<ul class="nav navbar-nav navbar-right">
	    		<li><a href="#">首页</a></li>
	        <li><a href="#">欢迎您，乔尼·周敏</a></li>
	        <li><a href="#">退出系统</a></li>
	      </ul>
	    </div>
    </div>
  </div>
</nav>