<!-- 引入头文件 -->
{{> common/header}}
<style type="text/css">
	#nav {
		height: 60px;
		padding: 5px 15px;
	}
	.navbar-nav>li {
		margin-right: 15px;
		margin-top: 7px;
	}
	.breadcrumb {
		padding: 15px 15px 8px 0;
	}
	.bs-example.tooltip-static .tooltip {
	    position: relative;
	    display: inline-block;
	    margin: 5px 10px;
	}
	.form-group .tooltip {
		right: 0;
		top: -6px;
		display: none;
	}
	.tooltip-inner {
		max-width: 300px;
	}
	.has-success .tooltip {
		display: none;
	}
	.has-error .tooltip {
		display: block;
	}
	.required-span {
		color: red;
		padding-left: 3px;
	}
	.hold-only {
		position: relative;
		visibility: hidden;
	}
	.btn-group {
		min-width: 140px;
	}
</style>


{{{body}}}



<div>
	
	<div class="form-group has-error has-feedback">
		<div role="tooltip" class="in tooltip top">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner" >测试123测试123测试123</div>
		</div>
	  <label class="control-label" for="inputSuccess2">Input with success</label>
	  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess2Status" class="sr-only">(success)</span>
	</div>
	<div class="form-group has-success has-feedback">
	  <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
	  <input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess5Status" class="sr-only">(success)</span>
	</div>
	<form class="form-horizontal">
		<div class="form-group has-success has-feedback">
	    <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
	      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	      <span id="inputSuccess3Status" class="sr-only">(success)</span>
	    </div>
	  </div>
	</form>
</div>

<!-- 引入尾部文件 -->
{{> common/footer}}