<!-- 引入头文件 -->
{{> common/header}}
<style type="text/css">
	#nav {
		height: 60px;
		padding: 5px 15px;
	}
	.navbar-nav>li {
		margin-right: 15px;
		margin-top: 7px;
	}
/*	.breadcrumb {
		padding: 15px 15px 8px 0;
	}*/
	.bs-example.tooltip-static .tooltip {
	    position: relative;
	    display: inline-block;
	    margin: 5px 10px;
	}
	.form-group .tooltip {
		right: 0;
		top: -6px;
		display: none;
	}
	.tooltip-inner {
		max-width: 300px;
	}
	.has-success .tooltip {
		display: none;
	}
	.has-error .tooltip {
		display: block;
	}
	.required-span {
		color: red;
		padding-left: 3px;
	}
	.hold-only {
		position: relative;
		visibility: hidden;
	}
	.btn-group {
		min-width: 140px;
		width: 100%;
		max-width: 300px;
	}
	.form-inline .btn-group {
		width: auto;
	}
	.mt-label {
		margin-top: 30px;
	}
	#root {
		background: #fff;
	}
	.dropdown-menu {
		max-height: 200px;
		overflow-y: scroll;
	}
	.search-form {
		padding: 0;
	}
	.left { float: left; }
	.right {
		float: right;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.condition-item {
		list-style: none;
		margin: 0 10px 10px 0;
		line-height: 30px;
	}
	.tag-text{
		float: left;
	}
	.form-element {
		float: right;
	}
	.input-text {
		width: 160px;
	}
	.table-box {
		padding: 10px;
	}
	.table-header {
		font-weight: bold;
		text-align: center;
		line-height: 30px;
		padding: 4px;
		background-color: #eee;
		border-bottom: 1px solid #004714;
	}
	.table-item {
		border-bottom: 1px solid #ddd;
		height: 40px;
		line-height:40px;
		overflow: hidden; 
	}
	.table-item.table-item-open {
		border-bottom: 0 none;
		height: auto;
	}
	.table-item-short {
		text-align: center;
	}
	.table-item-short:hover ,.table-item-open .table-item-short{
		background-color: #6fb2eb;
		color: #fff;
	}
	.table-item-detail {
		padding:15px 10px;
		border: 1px solid #ddd;
		border-top: 0;
		border-radius:0 0 5px 5px;
		margin-bottom: 0;
		/*background-color: #eee;*/
	}
	.table-item-detail .item-content {
		list-style: none;
		padding: 3px 0;
	}
	.tag-item {
		width: 20%;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;
	}
	.tag , .tag-content{
		padding: 0;
	}
/*	.table-item-detail .tag {
		width: 120px;
	}*/
</style>


{{{body}}}



<!-- <div>
	
	<div class="form-group has-error has-feedback">
		<div role="tooltip" class="in tooltip top">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner" >测试123测试123测试123</div>
		</div>
	  <label class="control-label" for="inputSuccess2">Input with success</label>
	  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess2Status" class="sr-only">(success)</span>
	</div>
	<div class="form-group has-success has-feedback">
	  <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
	  <input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess5Status" class="sr-only">(success)</span>
	</div>
	<form class="form-horizontal">
		<div class="form-group has-success has-feedback">
	    <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
	      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	      <span id="inputSuccess3Status" class="sr-only">(success)</span>
	    </div>
	  </div>
	</form>
</div> -->

<!-- 引入尾部文件 -->
{{> common/footer}}